In [1]:
import pandas as pd
df_500 = pd.read_csv("cs-500.csv")
df_500.head()

,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,target
0,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,was_not_in_trouble
1,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,was_in_trouble
2,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,was_in_trouble
3,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,was_in_trouble
4,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,was_in_trouble

In [2]:
df_1000 = pd.read_csv("cs-1000.csv")
df_5000 = pd.read_csv("cs-5000.csv")
df_1000 = pd.read_csv("cs-10000.csv")
df_5000 = pd.read_csv("cs-5000.csv")
df_10000 = pd.read_csv("cs-10000.csv")
df_50000 = pd.read_csv("cs-50000.csv")
df_100000 = pd.read_csv("cs-100000.csv")
df_140000 = pd.read_csv("cs-140000.csv")

label_col = 'target'

x_500 = df_500.drop(columns=[label_col])
y_500 = df_500[label_col]

x_1000 = df_1000.drop(columns=[label_col])
y_1000 = df_1000[label_col]

x_5000 = df_5000.drop(columns=[label_col])
y_5000 = df_5000[label_col]

x_10000 = df_10000.drop(columns=[label_col])
y_10000 = df_10000[label_col]

x_50000 = df_50000.drop(columns=[label_col])
y_50000 = df_50000[label_col]

x_100000 = df_100000.drop(columns=[label_col])
y_100000 = df_100000[label_col]

x_140000 = df_140000.drop(columns=[label_col])
y_140000 = df_140000[label_col]

# Becnhmarking

In [7]:
def benchmark_time(n_neighbours_i, metric_i, x_i, y_i, x_val):
    time_taken = 0

    for _ in range(5):
        # training the model
        start_time = time()

        if metric_i != 'minkowski':
            model = KNeighborsClassifier(n_neighbors=n_neighbours_i,        # k
                                         metric=metric_i,
                                         )

        else:
            model = KNeighborsClassifier(n_neighbors=n_neighbours_i,        # k
                                         metric=metric_i,
                                         p=3
                                         )

        # fit the dataset into the model
        model.fit(x_i, y_i)

        # use the model to predict the data
        _ = model.predict(x_val)

        end_time = time()
        time_taken += (end_time - start_time)

    return time_taken / 5

In [9]:
from sklearn.neighbors import KNeighborsClassifier
from time import time
import pandas as pd

metric_choices = ['manhattan', 'euclidean', 'minkowski']
n_neighbours_choices = [23, 32, 71, 100, 224, 316, 374]
datasets = ['cs-500.csv', 'cs-1000.csv', 'cs-5000.csv', 'cs-10000.csv', 'cs-50000.csv', 'cs-100000.csv', 'cs-140000.csv']
val_dataset = pd.read_csv("cs_val_2.csv")
x_val = val_dataset.drop(columns=['target'])

for metric in metric_choices:
    time_taken = []

    for i in range(len(datasets)):
        df = pd.read_csv(datasets[i])
        x = df.drop(columns=['target'])
        y = df['target']

        time_here = benchmark_time(n_neighbours_choices[i], metric, x, y, x_val)
        time_taken.append(time_here)

    print(f"\nTime taken for {metric} distance: ")
    print(time_taken)

Time taken for manhattan distance:
[0.060622119903564455, 0.08044734001159667, 0.14281258583068848, 0.22542004585266112, 0.72806396484375, 1.299963617324829, 1.9920879364013673]

Time taken for euclidean distance:
[0.03816165924072266, 0.051777982711791994, 0.12610311508178712, 0.21047511100769042, 0.6887857437133789, 1.23516845703125, 1.7194047927856446]

Time taken for minkowski distance:
[0.15349197387695312, 0.1947638988494873, 0.4356221199035645, 0.7090339660644531, 2.170843744277954, 3.215594244003296, 3.9870458602905274]

### 500 rows